<div class="login-container">
    <h2>GİRİŞ</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">KULLANICI ADI</label>
        <input
          id="username"
          type="text"
          placeholder="KULLANICI ADINI GİRİNİZ"
          [(ngModel)]="username"
          name="username"
          required
          class="form-control"
        />
      </div>
      
      <div class="form-group">
        <label for="password">ŞİFRE</label>
        <input
          id="password"
          type="password"
          placeholder="ŞİFRENİZİ GİRİNİZ"
          [(ngModel)]="password"
          name="password"
          required
          class="form-control"
        />
      </div>
      
      <button type="submit" class="btn btn-primary">GİRİŞ</button>
      
      <p *ngIf="loginStatus" [ngClass]="{'success': loginStatus === 'Login Success', 'error': loginStatus !== 'Login Success'}">
        {{ loginStatus }}
      </p>
    </form>
  </div>
  